---
import Container from "./Container.astro";
import { Icon } from "astro-icon/components";
import { socialLinks, whatsappLines } from "@constants/rutas";
---

<footer class="bg-aFondo text-white py-6 md:py-8">
  <Container className="grid grid-cols-1 md:grid-cols-3 gap-8 ">
    <!-- Redes Sociales -->
    <div class="text-center md:text-left">
      <h3 class="text-primary font-semibold text-lg mb-4">
        Nuestras redes sociales
      </h3>
      <ul
        class="flex flex-col gap-4 justify-center items-center md:items-start"
      >
        {
          socialLinks.map((link) => (
            <li class=" flex flex-row gap-2">
              <Icon name={link.icon} size={24} />
              <a
                target="_blank"
                aria-label={link.name}
                href={link.url}
                class="hover:underline hover:underline-offset-4 capitalize hover:decoration-primary transition duration-200"
              >
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <!-- Descripción -->
    <div class="text-center">
      <h3 class="text-primary font-semibold text-lg mb-4">Sorteo el Nevado</h3>
      <p class="mb-4">
        Somos un equipo dedicado a rifas entre amigos, desde el año 2019,
        teniendo hasta el día de hoy una comunidad de más de 70 mil seguidores
        en nuestra página de Facebook.
      </p>
      <a
        href="/nosotros"
        class="text-primary font-medium hover:underline hover:underline-offset-4 hover:decoration-primary transition duration-200"
      >
        Conoce más sobre nosotros
      </a>
    </div>

    <!-- Líneas de WhatsApp -->
    <div class="text-center md:text-right">
      <h3 class="text-primary font-semibold text-lg mb-4">
        Líneas de WhatsApp
      </h3>
      <ul
        class="flex flex-col gap-4 md:gap-2 justify-center items-center md:items-end"
      >
        {
          whatsappLines.map((link) => (
            <li class=" flex flex-row gap-2">
              <a
                target="_blank"
                aria-label={link.icon}
                href={link.path}
                class="hover:underline hover:underline-offset-4 capitalize hover:decoration-primary transition duration-200"
              >
                {link.name}
              </a>
              <Icon name={link.icon} size={24} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</footer>
