---
import { Image } from "astro:assets";
import image from "@assets/billetes.avif";


interface Props {
  premio: string;
  cantidad: string;
  ganador?: string;
  desc?: string;
  boleto?: string;
}
const { premio, cantidad, ganador, desc, boleto } = Astro.props;
---

<div
  class="bg-primary text-black flex flex-col-reverse md:flex-row justify-between rounded-xl pb-4 md:pb-0"
>
  <div class="flex flex-col items-center gap-2 md:w-3/4 justify-center text-center md:text-left">
    <span class="font-bold text-2xl border-b-4 border-black"> {premio}</span>
    <span class="font-extrabold text-2xl">{cantidad}</span>

    {desc ? <p class="prose-2xl text-center">{desc}</p> : ""}

       
  { ganador ? (  <span  class="text-2xl">
    Ganador: <span class="font-bold"> {ganador}</span>
  </span>
  <span class="text-2xl">
    Con el boleto: <span class="font-bold">{boleto}</span>
  </span>):""}

  </div>

  <div class="md:w-2/5 h-full flex items-center justify-center">
    <Image src={image} alt="billetes" class="rounded-tr-xl rounded-br-xl" />
  </div>
</div>
