---
import Layout from "@layouts/Layout.astro";
import Container from "@components/shared/Container.astro";
import ConsultaForm from "@components/consulta/ConsultaForm";
import { seoConfig } from "@constants/SEO";
const { title, description, keywords } = seoConfig.consulta;
import { ticket, correo } from "@constants/consulta/consulaRes";
---

<Layout title={title} description={description} keywords={keywords}>
  <Container>
    <div class="flex flex-col justify-center items-center text-center pb-4">
      <span class="text-3xl md:text-4xl text-primary font-bold max-w-4xl"
        >Busca tus boletos apartados y pagados en la gran PRIMERA EDICION #1
      </span>
    </div>
    <div
      class="text-primary text-center flex flex-col justify-center items-center prose-lg md:prose-xl md:max-w-2xl mx-auto"
    >
      <p>
        Encuentra los boletos que has apartado durante la actual rifa, y mira
        cuales de han sido confirmados como pagados.
      </p>
    </div>
    <main class="pb-10 pt-4">
      <ConsultaForm tickets={ticket} email={correo} client:visible />
    </main>
  </Container>
</Layout>
