---
import { ClientRouter } from "astro:transitions";
import { seoConfig } from "@constants/SEO";

const { default: seoDfeault, inicio } = seoConfig;

interface Props {
  title: string;
  keywords?: string;
  description?: string;
}

const { title, description, keywords } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/volcanes.avif" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content={seoDfeault.author} />

    <!-- Meta Tags SEO -->
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <title>{title} - Sorteo el Nevado</title>

    <!-- Meta Tags Open Graph (OG) -->
    <meta property="og:title" content={inicio.title} />
    <meta property="og:description" content={inicio.description} />
    <meta property="og:image" content={seoDfeault.image} />
    <meta property="og:url" content={seoDfeault.url} />
    <meta property="og:type" content="website" />

    <!-- Meta Tags para Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={inicio.title} />
    <meta name="twitter:description" content={inicio.description} />
    <meta name="twitter:image" content={seoDfeault.image} />
    <ClientRouter />
  </head>
  <body class="bg-fondo scroll-smooth">
    <main>
      <slot />
    </main>
  </body>
</html>
